<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap</h2>
      <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
    </div>
  </div>
</header>

<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Built with Bootstrap 4, Handlebars and Express</h2>
        <p class="text-white-50">
          Nihil magnam occaecati tenetur dolores vel fugiat doloremque et maxime. Vel aspernatur voluptatum. Ipsam quibusdam quisquam dolorum. Magni est aspernatur similique doloremque repudiandae illum aut vitae voluptatibus. Architecto culpa quis non repudiandae culpa. Quam natus voluptas optio nihil non.
        </p>
      </div>
    </div>
    <img class="img-fluid" src="assets/img/ipad.png" alt="" />
  </div>
</section>