<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Documentation Wagliò</h2>
        <p class="text-white">
        <section style="text-decoration: none;" class="text-white mb-4">
          <code>http://domain/Query?option=pokemon&value=ditto</code>
          <p>Display Pokemon,in this case Ditto, info</p>
        </section>
        <section style="text-decoration: none;" class="text-white mb-4">
          <code>http://domain/Query?help=true</code>
          <p>Display this helper message</p>
        </section>
        <section style="text-decoration: none;" class="text-white mb-4">
          <code>http://domain/Query?listing=true&offset=10</code>
          <p>Display a list(max 10 x request) of Pokemon starting at 10th position</p>
        </section>

        {{#if error}}
        <section class="text-white mb-4">
          <h3>ERROR</h3>
          {{#each options}}
          <code>This query string is not correct: {{this}}</code>
          {{/each}}
        </section>
        {{/if}}
        </p>
      </div>
    </div>
    <img class="img-fluid" src="http://pngimg.com/uploads/pokemon_logo/pokemon_logo_PNG9.png" alt="" />
  </div>
</section>